body > .container {
  padding: 112px 15px 60px;
}

code {
  font-size: 80%;
}

.btn-secondary:not(:disabled):not(.disabled).active {
  background-color: #343a40;
  border-color: #343a40;
}
.btn-secondary:not(:disabled):not(.disabled):active {
  background-color: #343a40;
  border-color: #343a40;
}

.second-navbar{
  top: 56px;
}

:target:before {
  content:"";
  display:block;
  height:112px; /* fixed header height*/
  margin:-60px 0 0; /* negative fixed header height */
}
