{% extends "survey/base.html" %}
{% load addcss %}
{% load static %}

{% block content %}
<link href="{% static 'css/login.css' %}" rel="stylesheet">

<div class="text-center">
	<h1 class="h3 mb-3 font-weight-normal pt-3">Please sign in</h1>
</div>

<form class="login" method="POST" action={{request.get_full_path}}>
	{% csrf_token %}

	{% if form.non_field_errors %}
	<div class="non-field-errors">
		{% for err in form.non_field_errors %}
			<p class="form-error">{{ err }}</p>
		{% endfor %}
	</div>
	{% endif %}

	{% for field in form %}
		{% if field.label != "Remember Me"%}
			{{ field|addcss:"form-control" }}
		{% else %}
			Remember me {{ field }}
		{% endif %}
	{% endfor %}


	<div class="row py-2">
		<div class="col text-center">
			<button class="btn btn-primary btn-block" type="submit">Sign in</button>
		</div>
	</div>

	<div class="col text-center">
		<a class="button secondaryAction" href="{% url 'account_reset_password' %}">Forgot your password?</a>
	</div>

	<div class="col text-center">
		<a class="button secondaryAction" href="/accounts/signup/">Create an account</a>
	</div>

</form>

{% endblock %}
