{% extends "survey/base.html" %}
{% load addcss %}

{% block content %}

<div class="text-center">
	<h1 class="h3 mb-3 font-weight-normal pt-3">Reset password</h1>
	<p>Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

	<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
		{% csrf_token %}
		<div class="input-group mb-3">
			{% for field in form %}
			{{ field|addcss:"form-control" }}
			{% endfor %}
			<div class="input-group-append">
				<button class="btn btn-primary" type="submit" value="Reset My Password">Send</button>
			</div>
		</div>
	</form>
</div>

{% endblock %}