{% extends "survey/base.html" %}

{% block content %}
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>

<script type="text/javascript">
	$(window).load(function () {
		$(':input:checked').closest('.btn').addClass('active');
		$( "#save" ).click(function() {
			$("input").each(function() {
				$(this).removeAttr('required');
			});
		});
	});
</script>

<form method="POST" action=".">
	{% csrf_token %}

	{% for field in form %}

	{% if field.field.widget.attrs.header %}
	<div class="row py-4 text-center">
		<div class="col">
			<h1>{{ field.field.widget.attrs.header }}</h1>
		</div>
	</div>
	{% endif %}

	<div class="row">
		<div class="col">
			{{ field.label_tag }}
		</div>

		<div class="text-center">
			<div class="col btn-group btn-group-toggle align-self-start" data-toggle="buttons">
				{% for radio in field %}
				<label style="height:37px;" class="btn btn-secondary">
					{{radio}}
				</label>
				{% endfor %}
			</div>
		</div>
	</div>
	<hr>
	{% endfor %}


	<div class="row">
		<div class="text-center fixed-bottom bg-dark p-1">
			<input class="btn btn-secondary" type=submit name="save" id="save" value="Save"\>
			<input class="btn btn-primary" type=submit name="submit" id="submit" value="Submit"\>
		</div>
	</div>

</form>

{% endblock %}