{% extends "survey/base.html" %}
{% load static %}

{% block content %}
<link href="{% static 'css/survey.css' %}" rel="stylesheet">
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
<script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>

<script type="text/javascript">
	$(window).load(function () {
		$(':input:checked').closest('.btn').addClass('active');

		
		$('.btn-primary').click(function() {
			var complete = true;
			$('.btn-group').each(function() {
				var has_active = $(this).children('.active').length
				if (has_active === 0) {
					console.log($(this).parent().siblings().find('label').text())
					$(this).parent().siblings().find('label').css('color', 'red');
					$('html, body').animate({ 
						scrollTop: $(this).offset().top - 60
					}, 600);
					complete = false;
					return false;
				}
			});
			if (complete) {
				console.log('submitting')
				$("#submitting").val("true")
				$("#mysurvey").submit();
			}
		});

	});
</script>

<form method="POST" action="." id="mysurvey">
	<input type="hidden" id="submitting" name="flag" value="false">
	{% csrf_token %}

	{% for field in form %}

	{% if field.field.widget.attrs.header %}
	<div class="row py-4 text-center">
		<div class="col">
			<h1>{{ field.field.widget.attrs.header }}</h1>
		</div>
	</div>
	{% endif %}

	<div class="row">
		<div class="col">
			{{ field.label_tag }}
		</div>

		<div class="col text-center">
			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				{% for radio in field %}
				<label style="height:37px;" class="btn btn-secondary">
					{{radio}}
				</label>
				{% endfor %}
			</div>
		</div>
	</div>
	<hr>
	{% endfor %}

	<div class="row">
		<div class="text-center fixed-bottom bg-dark p-1">
			<input class="btn btn-secondary" type=submit name="save" value="Save"\>
			<input class="btn btn-primary" type=button value="Submit"\>
		</div>
	</div>

</form>

{% endblock %}
