body > .container {
  padding: 60px 15px 60px;
}

code {
  font-size: 80%;
}

.btn-secondary:not(:disabled):not(.disabled).active {
  background-color: #007bff;
  border-color: #007bff;
}
.btn-secondary:not(:disabled):not(.disabled):active {
  background-color: #007bff;
  border-color: #007bff;
}
